@font-face {
  font-family: 'Anon';
  src: local('Anon'), url(./fonts/AnonymousPro-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Terminal';
  src: local('Terminal'), url(./fonts/VT323-Regular.ttf) format('truetype');
}