body {
    margin: 0;
    background: #110307;
    color: #fceef2;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: none;
    height: 1px;
}

